@import url("https://fonts.googleapis.com/css?family=Outfit");
@import url("https://fonts.googleapis.com/css?family=Manrope");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	scrollbar-width: 0;
}

::-webkit-scrollbar {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

body {
    background: #28282B;
	height: fit-content;
	min-height: 100%;
}

textarea {
	background: transparent;
	border: 0px;
    color: #FDFBF9;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: monospace;
	outline: none;
	resize: none;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	height: fit-content;
	max-height: max-content;
	min-height: 100%;
	padding-bottom: calc(80px + (15px * 2));
}

.content {
	padding: 20px 50px;
	height: 100%;
	min-height: 100%;
}

.line-nums {
    color: #FDFBF980;
	z-index: -1000;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 30px;
	font-size: 15px;
	font-family: monospace;
	text-align: center;
	user-select: none;
}

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	border: 0px;
	outline: none;
	font-size: 15px;
  	overflow: inherit;
}

#box code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

footer {
	--margin: 15px;

	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100vw - var(--margin) * 2);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	max-height: 80px;
	height: 80px;
	min-height: 80px;

	font-family: "Manrope", sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #FDFBF9;

	background: #151316;
	padding: 0 30px 0 30px;
	margin: var(--margin);
	border-radius: 25px;
	user-select: none;
}

.brand-name {
	font-family: "Outfit", sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.brand-name > .brand-emphasis {
	font-weight: 800;
}

footer .actions > button {
	background: transparent;
	border: 0px;
	color: #FDFBF980;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
}

footer .actions > button.enabled {
	color: #FDFBF9;
}

footer .actions > button > span {
	font-size: 15px;
	font-weight: 600;
}

footer .actions > button.enabled > span:hover {
	text-decoration: underline;
	cursor: pointer;
}

#messages {
	z-index: 10000000000000;
	position: fixed;
	top: 25px;
	right: 25px;
	margin: 0;
	padding: 0;
	width: 350px;
	color: #FDFBF9;
}

#messages li {
	background: #151316;
	list-style: none;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 15px;
}

#messages li .error {
	background:rgba(110, 0, 9, 0.8);
}

